*{
    margin: 0;
    padding: 0;
}
body{
  
    background-image: url("img_tree.gif"), url("paper.gif");
    background-color: #cccccc;
 
}
.logo{
    width: 25%;
    display: flex;

}
.logo img{
    width: 32%;
    margin-left: 8%;
    /* border: 3px solid white; */
    border-radius: 80px;
}
.navbar{
    display: flex;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
    animation: 12s myGradient infinite;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #ff3352;
}
@keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }
  
  .active2:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active1:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  @keyframes myFlash {
    0% {
      opacity: 1;
      text-shadow: transparent;
    }
    
    50% {
      opacity: .1;
    }
    
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px #fff;
    }
  }
  
  
.nav-list{
    
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nav-list li{
    font-size: 20px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav-list a{
    text-decoration: none;
    padding: 40px;
   color:white;
   text-align:justify;
   justify-content: flex-start;
   float: left;
} 
.nav-list a:hover{
    text-decoration:rgb(212, 167, 42);
   color: rgb(221, 180, 45);
} 
header h1
  {
    font-weight: normal;
    color: rgb(45, 140, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #a8f056; */
    border: 5px solid rgb(149, 247, 136);
    border-radius: 15px;
      text-align: center;
      font-size: 28px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      /* font-weight: bold; */

  }
  footer {
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
 
  }

footer a {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-decoration: none;
    /* padding: 20px; */
    text-align: center;
    color: black;
}