*{
    margin: 0;
    padding: 0;
}
/* body{
  
  background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;

} */
body{
  height: 200px;
  background-color: #cccccc;
  background-image: radial-gradient(rgb(212, 132, 132), rgb(159, 117, 226));
}
/*  
#grad1 {
  height: 200px;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow, green);
} */
.logo{
    width: 25%;
    display: flex;

}
.logo img{
    width: 33%;
    /* border: 3px solid white; */
    border-radius: 80px;
}
.navbar{
    display: flex;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
    animation: 12s myGradient infinite;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #ff3352;
}
@keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }
  
  .active2:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active1:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  @keyframes myFlash {
    0% {
      opacity: 1;
      text-shadow: transparent;
    }
    
    50% {
      opacity: .1;
    }
    
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px #fff;
    }
  }
  
  
.nav-list{
    
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nav-list li{
    font-size: 20px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav-list a{
    text-decoration: none;
    padding: 40px;
   color:white;
   text-align:justify;
   justify-content: flex-start;
   float: left;
} 
.nav-list a:hover{
    text-decoration:rgb(212, 167, 42);
   color: rgb(221, 180, 45);
} 
/* .background{
    background: rgba(8, 23, 223, 0.616);
    background-size: cover;
    background-blend-mode: darken;/*how it is rendered
} */
/* body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("Images/1.jpeg");
} */

header h2{
  animation: 12s forwards;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 35px;
  align-content: center;
  text-align: center;
  color: #2c39b1;
  border:3px #ff5959;
  border-radius: 10px;
}
footer {
  background-color:white;
  border-radius: 5px;
  overflow: hidden;
  text-align: start;
  margin-top: 100px;
}

footer a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.carousel-slide{
  display:flex;
  flex-direction: raw;
  color: white;
  font-size: 30px;
}
.content{
  margin-left:10px;
  margin-top:90px;
}