* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 25%;
  display: flex;
}
.logo img {
  width: 33%;
  /* border: 3px solid white; */
  border-radius: 80px;
}
body{
  height: 200px;
  background-color: #cccccc;
  background-image: radial-gradient(rgb(212, 132, 132), rgb(159, 117, 226));
}
.navbar {
  display: flex;
  background-image: linear-gradient(
    -45deg,
    #ff5959,
    #ff4040,
    #ff0d6e,
    #ff8033,
    #d74177
  );
  animation: 12s myGradient infinite;
  border-radius: 5px;
  box-shadow: 3px 3px 20px #ff3352;
}
@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.active2:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active1:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}
section:nth-child(even) {
  background-color: rgb(241, 241, 241);
  text-align: center;
}
@keyframes myFlash {
  0% {
    opacity: 1;
    text-shadow: transparent;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}

.nav-list {
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.nav-list li {
  font-size: 22px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list a {
  text-decoration: none;
  padding: 35px;
  color: white;
  text-align: justify;
  justify-content: flex-start;
  float: left;
}
.nav-list a:hover {
  text-decoration: rgb(212, 167, 42);
  color: rgb(221, 180, 45);
}
/* .background{
    background: rgba(8, 23, 223, 0.616);
    background-size: cover;
    background-blend-mode: darken;/*how it is rendered
} */
/* body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(214, 219, 215);
} */

header h1 {
  text-align: center;
  font-size: 35px;
  color: white;
}

header {
  padding: 20px;
  background-color: rgb(61, 68, 173);
}

/* main {
  background-color: white;
  text-align: center;
} */

h2 {
  padding: 20px;
  background-color: linear-gradient(
    45deg,
    #af2d2d,
    #9dca21,
    #ff0d6e,
    #ff8033,
    #681d38
  );
}

img {
  padding: 10px;
  align-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
footer {
  background-color:white;
  overflow: hidden;
  margin-top: 450px;
  /* float: left; */
  border-radius: 5px;
}

footer a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-decoration: none;
  /* padding: 20px; */
  text-align: center;
  color: black;
}

.contact{
  margin-left: 100px;
}